*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    display: inline;
    white-space: 5vw;
    transition: all 0.5s ease-in-out;
}

header{
    height: 10vh;
    font-size:2em ;
    background-color:aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}

button{
    color: rgb(234, 237, 239);
    background-color: rgb(3, 185, 240);
    border-radius: 10%;

}
.left button{
    width: 25vw;
    height: 10vh 
}
body{
    width: 100%;
    aspect-ratio: 16/9;
}
.container{
    /* width: 100vw;
    aspect-ratio: 16/9; */
    background:linear-gradient(to right,rgb(225, 216, 217),rgb(235, 139, 155)) ;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly ;
    align-items: center;
    background-size: cover;

}
.left{
    
    flex: 0 0 40%;
    /* justify-self: center;
    align-self: center; */
    margin-bottom: 10vh;
}
.left h1{
    font-size: 4em;
    
}
.left p{
    font-size: 2em;
}
span{
    color: aqua;
}

.right{
    /* justify-self: center;
    align-self: center;
    */
    max-width: 100%;
    height: auto;
    flex: 0 0 30%;
    margin-right: 10vw;
}
/* @media(max-width:768px){
    body{
        font-size: 10px;
        width: 100%;
        aspect-ratio: 16/9;
    }
    /* .container{
        width: 100%;
        aspect-ratio: 16/9;
    }
} */

/* some hover effects */
li:hover{
    color: yellow;
    background-color: black;
    cursor: pointer;
}

button:hover{
    background-color: blueviolet;
}
